# Dependencies
node_modules

# All dot files and directories
.*

# Whitelist specific dot files/directories we want to track
!.gitignore
!.github
!.vscode
!.npmrc
!.changeset
!.cursor

# Build output
dist
tools/benchmark/output

# Logs
*-debug.log*
*-error.log*

next-env.d.ts
